[submodule "engines/llamacli"]
	path = engines/llamacli
	url = https://github.com/assix/Arduino-UnoQ-Optimized-Llama-CLI.git
[submodule "engines/yzma"]
	path = engines/yzma
	url = https://github.com/hybridgroup/yzma.git
	branch = main
